# Project
gcp_project = "some-gcp-project"
gcp_region  = "some-gcp-region"
gcp_zone    = "some-gcp-zone"

# Instance
instance_name     = "some-random-instance-name"
machine_type      = "some-random-machine-type"
boot_disk_image   = "some-valid-boot-disk-image"
boot_disk_size_gb = 120

# Network
subnet_cidr = "some-random-ip-range"
enable_vpn  = false
vpn_ip      = "some-random-ip"

# Environment
environment = "some-random-environment"

# State bucket
terraform_state_storage = "some-random-state-bucket"

# Storage
artifact_storage = "some-random-prefect-storage-bucket"

# Load balancer
enable_load_balancer  = true
domain                = "some-random-domain"
load_balancer_ip_name = "some-random-lb-ip-name"
enable_iap            = true
iap_brand             = "some-random-brand"
iap_client_id         = "some-random-id"
iap_client_secret     = "some-random-secret"

# Authorised users for IAP access
authorized_users = [
  "some-random-user@some-random-domain.nothing"
]

# Database
database_password = "some-random-test-password"
